@import "../variables.scss";

.button {
	&-secondary {
		padding: $padding-xs $padding-lg;
		border-radius: $border-radius-sm;
		background-color: $background-color-2;
		color: $bright-color;
		border: none;
		font-weight: 700;

		&:hover {
			background-color: $bright-color;
			color: $background-color;
			cursor: pointer;
		}
	}

	&-hollow-border {
		background-color: transparent;
		border: 2px solid transparent;
		padding: $padding-xs $padding-sm;
		border-radius: $border-radius;
		color: $bright-color;
		width: 165px;
		text-align: left;

		&:hover {
			cursor: pointer;
			border: 2px solid $bright-color;
			box-shadow: 0 0 10px $glow-color;
		}
	}
}
