@import "../shared.scss";

.hover-menu {
	text-align: center;

	&-wrapper {
		position: relative;

		&:hover {
			cursor: pointer;
		}
	}

	&-label {
		margin: $margin-sm $margin-lg 0 0;
		color: $bright-color;
	}
	&-items {
		list-style: none;
		display: grid;
		grid-auto-rows: auto;
		grid-row-gap: 4px;
		position: absolute;
		top: 35px;
		z-index: 10;
		background-color: $background-color-2;
		border-radius: $border-radius;
		border: 1px solid $bright-color-2;

		li {
			padding: $padding-xs $padding;
			color: $bright-color-2;

			&:hover {
				background-color: $background-color-2;
				color: $bright-color;
				cursor: pointer;
			}
		}

		&:last-child {
			padding-bottom: $padding-sm;
		}
	}
}

.left {
	right: 25px;
}
