@import "../variables.scss";

.category {
	&-wrapper {
		display: grid;
		grid-template-rows: auto auto;
		text-align: left;
		padding: $padding $padding 0 $padding;
		overflow-x: hidden;
	}

	&-row {
		display: flex;
		grid-column-gap: $column-gap;

		&-title {
			color: $bright-color;
			margin-bottom: $margin-sm;
		}
	}
}
