@import "./shared.scss";

.thumbnail {
	text-align: left;
	width: 150px;

	&-title {
		color: $bright-color-2;
	}

	&-image {
		width: 150px;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.navBar {
	display: flex;
	justify-content: space-between;

	&-logo-and-items {
		display: grid;
		grid-template-columns: auto auto;
	}

	ul {
		list-style: none;
		display: flex;

		li {
			padding: $padding-sm $padding;
			color: $bright-color;

			&:hover {
				background-color: $bright-color;
				color: $background-color;
				border-radius: 5px;
			}
		}
	}

	&-avatar {
		padding: $padding-sm $padding;
		color: $bright-color;

		&:hover {
			background-color: $bright-color;
			color: $background-color;
			border-radius: 5px;
		}
	}
}
