@import "./shared.scss";

.thumbnail {
	text-align: left;
	width: 150px;

	&-title {
		color: $bright-color-2;
	}

	&-image {
		width: 150px;
		transition: transform 0.2s;

		&:hover {
			transform: scale(1.1);
		}
	}
}

.navBar {
	display: flex;
	justify-content: space-between;
	margin-bottom: $margin;

	&-logo-and-items {
		display: grid;
		grid-template-columns: auto auto;
	}

	p {
		padding: $padding-sm $padding;
		color: $bright-color;
		font-size: medium !important;
	}

	ul {
		list-style: none;
		display: flex;

		li {
			padding: $padding-sm $padding;
			color: $bright-color;

			&:hover {
				background-color: $bright-color;
				color: $background-color;
				border-radius: 5px;
			}
		}
	}

	&-avatar {
		padding: $padding-sm $padding;
		color: $bright-color;

		&:hover {
			background-color: $bright-color;
			color: $background-color;
			border-radius: 5px;
		}
	}
}

.hero {
	&-image {
		width: 100vw;
	}

	&-text {
		width: 100%;
		text-align: left;
		position: absolute;
		top: 20vh;
		padding: 0 $padding-lg;
		color: $bright-color;
		background-color: $background-color-2;
		padding: $padding-sm $padding;
	}
}
