$column-gap: 16px;
$row-gap: 16px;

$background-color: rgb(23, 23, 23);
$background-color-2: rgba(23, 23, 23, 0.6);
$bright-color: aliceblue;
$bright-color-2: rgb(202, 210, 216);

$padding-lg: 24px;
$padding: 16px;
$padding-sm: 8px;

$margin-lg: 24px;
$margin: 16px;
$margin-sm: 8px;
