@import "./containers/containers";
@import "./components/components";
@import "./shared.scss";

body {
	background-color: $background-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: xxx-large;
	font-weight: 800;
}

p {
	font-size: larger;
}

a {
	text-decoration: none;
	color: $bright-color-2;
}
