@import "./containers";
@import "./components";
@import "./shared.scss";

body {
	background-color: $background-color;
	padding: 16px;
}
.App {
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
	margin: 0;
	padding: 0;
}
